[submodule "lib/glfw/src"]
	path = lib/glfw/src
        url = https://github.com/glfw/glfw.git
        ignore = dirty
[submodule "lib/kazmath/src"]
	path = lib/kazmath/src
        url = https://github.com/Cloudef/kazmath.git
        ignore = dirty
[submodule "lib/openctm/src"]
	path = lib/openctm/src
	url = https://github.com/Danny02/OpenCTM.git
