[submodule "lib/glfw/src"]
	path = lib/glfw/src
        url = https://github.com/elmindreda/glfw.git
        ignore = dirty
[submodule "lib/kazmath/src"]
	path = lib/kazmath/src
        url = https://github.com/Kazade/kazmath.git
        ignore = dirty
[submodule "lib/GLEW/src"]
	path = lib/GLEW/src
        url = https://github.com/LuaDist/glew.git
        ignore = dirty
